# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

tags
cscope*
GPATH
GRTAGS
GTAGS

# Ultra build files
.version
asm/asm-offsets.s
include/asm-offsets.h
ultra.lds
ultra.lid
ultra.lid.stb
ultra.lid.xz
ultra.lid.xz.stb
ultra.lis
version.c
extract-gcov
libstb/create-container
libstb/print-container
